.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr; 
}

.header {
  grid-area: h;
  background-color: rgb(0, 60, 128);
}
.header img {
  width: 20px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: cornflowerblue;
}